{{ define "main"}}
<main>
    <div class="container">
        <h1>Hello 👋  I’m Tom Burrows, and I’m a UX Designer.</h1>
        <p>I currently work at Co-op as an Interaction Designer, focusing on the customer experience for our food business.</p>
      
        <p>I co-run the Debate Club workshop, have worked on our design system, and contribute as a content designer to other areas of the Co-op digital experience.</p>
      
        <p>I believe above all in simplicity. The world seems to get louder and louder and there’s a lot to take in. Most things are needlessly complicated. I believe in accessibility for all, and transparency. Let’s just make life easier!</p>
      
        <p>I have a background in writing and editing words - and I still write music pieces for the Picky Bastards website - but that’s another story.</p>
      
        <h2>Work</h2>
      
        <p><a href="/posts/optimising-the-navigation/">Optimising the navigation on the Co-op website</a></p>
        
        <h2>Contact</h2>
        
        <p>I’m on LinkedIn and Twitter.</p>
    </div>
</main>
{{end}}